{% if items|length > 0 %}

    {% for item in items %}

        {% if item.images|length > 0 %}

            <div class="hall_card_wrapper">

                <div class="hall_card_title">
                    <h2>{{item.name}}</h2>

                    {% if item.price %}
                        <span>от {{item.price}} руб./чел</span>
                    {% endif %}
                </div> 

                <div class="hall_card_carousel">
                    <div class="carousel_nav">
                        <div class="carousel_nav_prev_hall carousel_nav_prev_hall-{{loop.index}}"></div>

                        <div class="carousel_nav_next_hall carousel_nav_next_hall-{{loop.index}}"></div>
                    </div>

                    <div class="object_gallery _room">
                        <div class="swiper-container gallery-top-room">
                            <div class="swiper-wrapper">

                                {# {% if item.images|length > 0 %} #}

                                    {% for image in item.images %}

                                        <div class="swiper-slide object_thumb">
                                            <a href="{{image.waterpath}}=s0" data-lightbox="top_slider"><img src="{{image.subpath}}=w710-h472-n-l95" alt="Фото №{{loop.index}} зала {{item.name}}"/></a>
                                        </div>
                                        
                                    {% endfor %}

                                {# {% else %} #}

                                    {# <div class="swiper-slide object_thumb">
                                        <img src="/dist/images/slider_img.svg" alt=""/>
                                    </div> #}

                                {# {% endif %} #}


                            </div>
                        </div>

                        <div class="swiper-container gallery-thumbs-room">
                            <div class="swiper-wrapper">

                                {% for image in item.images %}
                                    <div class="swiper-slide object_thumb">
                                        <img src="{{image.subpath}}=w138-h92-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>  
                </div>

                <div class="hall_card_info">
                    {% if item.type_name %}
                        <div class="info_row">
                            <span class="info_row_left">Тип</span>

                            <div class="info_row_right">
                                <span>{{item.type_name}}</span>
                            </div>
                        </div>
                    {% endif %}

                    {% if item.capacity %}
                        <div class="info_row">
                            <span class="info_row_left">Вместимость</span>

                            <div class="info_row_right">
                                <span>{{item.capacity}} чел.</span>
                            </div>
                        </div>
                    {% endif %}

                    {% if item.capacity_reception %}
                        <div class="info_row">
                            <span class="info_row_left">Вместимость на фуршет</span>

                            <div class="info_row_right">
                                <span>{{item.capacity_reception}} чел.</span>
                            </div>
                        </div>
                    {% endif %}

                    {% if item.bright_room %}
                        <div class="info_row">
                            <span class="info_row_left">Светлый зал</span>

                            {# <div class="info_row_right">
                                <span>Да</span>
                            </div> #}
                        </div>
                    {# {% else %}
                        <div class="info_row">
                            <span class="info_row_left">Светлый зал</span>

                            <div class="info_row_right">
                                <span>Нет</span>
                            </div>
                        </div> #}
                    {% endif %}

                    {% if item.separate_entrance %}
                        <div class="info_row">
                            <span class="info_row_left">Отдельный вход</span>

                            {# <div class="info_row_right">
                                <span>Да</span>
                            </div> #}
                        </div>
                    {# {% else %}
                        <div class="info_row">
                            <span class="info_row_left">Отдельный вход</span>

                            <div class="info_row_right">
                                <span>Нет</span>
                            </div>
                        </div> #}
                    {% endif %}
                </div>

            </div>  

        {% else %}

            <div class="hall_card_wrapper">

                <div class="hall_card_title">
                    <h2>{{item.name}}</h2>

                    {% if item.price %}
                        <span>от {{item.price}} руб./чел</span>
                    {% endif %}
                </div> 

                <div class="hall_card_carousel">
                    <div class="object_gallery _room">

                        <div class="no_image">
                            <img src="/dist/images/slider_img.svg" alt=""/>
                            <p>К сожалению изображений зала нет, мы над этим работаем</p>
                        </div>
                                
                    </div>  
                </div>

                <div class="hall_card_info">
                    {% if item.type_name %}
                        <div class="info_row">
                            <span class="info_row_left">Тип</span>

                            <div class="info_row_right">
                                <span>{{item.type_name}}</span>
                            </div>
                        </div>
                    {% endif %}

                    {% if item.capacity %}
                        <div class="info_row">
                            <span class="info_row_left">Вместимость</span>

                            <div class="info_row_right">
                                <span>{{item.capacity}} чел.</span>
                            </div>
                        </div>
                    {% endif %}

                    {% if item.capacity_reception %}
                        <div class="info_row">
                            <span class="info_row_left">Вместимость на фуршет</span>

                            <div class="info_row_right">
                                <span>{{item.capacity_reception}} чел.</span>
                            </div>
                        </div>
                    {% endif %}

                    {% if item.bright_room %}
                        <div class="info_row">
                            <span class="info_row_left">Светлый зал</span>

                            {# <div class="info_row_right">
                                <span>Да</span>
                            </div> #}
                        </div>
                    {# {% else %}
                        <div class="info_row">
                            <span class="info_row_left">Светлый зал</span>

                            <div class="info_row_right">
                                <span>Нет</span>
                            </div>
                        </div> #}
                    {% endif %}

                    {% if item.separate_entrance %}
                        <div class="info_row">
                            <span class="info_row_left">Отдельный вход</span>

                            {# <div class="info_row_right">
                                <span>Да</span>
                            </div> #}
                        </div>
                    {# {% else %}
                        <div class="info_row">
                            <span class="info_row_left">Отдельный вход</span>

                            <div class="info_row_right">
                                <span>Нет</span>
                            </div>
                        </div> #}
                    {% endif %}
                </div>

            </div>  

        {% endif %}


    
    {% endfor %}

{% endif %}