<div class="slices">
	<a  class="slice _link {{menu == 'banketnye-zaly' ? '_active' : ''}}" href="/ploshhadki/banketnye-zaly/"><span>Горелый Хутор</span></a>
	<a  class="slice _link {{menu == 'restorany' ? '_active' : ''}}" href="/ploshhadki/restorany/"><span>дом за Волгой</span></a>
	<a  class="slice _link {{menu == 'kafe' ? '_active' : ''}}" href="/ploshhadki/kafe/"><span>берег Волги</span></a>
	<a  class="slice _link {{menu == 'kluby' ? '_active' : ''}}" href="/ploshhadki/kluby/"><span>Березовая аллея</span></a>
	<a  class="slice _link {{menu == 'bary' ? '_active' : ''}}" href="/ploshhadki/bary/"><span>Гранный</span></a>
	<a  class="slice _link {{menu == 'v-gorode' ? '_active' : ''}}" href="/ploshhadki/v-gorode/"><span>Жигулевские ворота</span></a>
</div>