<div data-page-type="index">

	<div class="content_block general_block index_block">

		<div class="filter_index">
			{{filter | raw }}
		</div>

		<div class="main_block">

			<div class="title index_title">
				{# <h1>День рождения на природе</h1>
				<p>Лучшие площадки в Москве для празднования Дня рождения</p> #}
				<h1>{{seo.h1}}</h1>
				<p>{{seo.h1_pag | raw}}</p>
			</div>

			<div class="seasons_wrapper">
				<div class="seasons">
					<div class="seasons_name">
						<span>Лето</span>

						<div class="seasons_name_hiddenContent">
							<a href="/za-gorodom/">За городом</a>
							<a href="/zagorodniy-kompleks/">Загородный комплекс</a>
							<a href="/kottedzh/">Коттедж</a>
							<a href="/veranda-besedka/">Веранды, террасы, беседки</a>
							<a href="/baza-otdyha/">База отдыха</a>
							
							<a href="/shater/">Шатёр</a>
							{# <a href="/veranda-besedka/">Террасы</a>
							<a href="/veranda-besedka/">Беседки</a> #}
							<a href="/krysha/">Крыша</a>
						</div>
					</div>

                    <a href="/leto/" class="season_link"></a>
				</div>

				<div class="seasons">
					<div class="seasons_name">
						<span>Осень</span>

						<div class="seasons_name_hiddenContent">
							<a href="/za-gorodom/">За городом</a>
							<a href="/zagorodniy-kompleks/">Загородный комплекс</a>
							<a href="/kottedzh/">Коттедж</a>
							<a href="/baza-otdyha/">База отдыха</a>
							{# <a href="/shater/">Шатёр</a> #}
							{# <a href="/veranda-besedka/">Веранды</a>
							<a href="/veranda-besedka/">Террасы</a>
							<a href="/veranda-besedka/">Беседки</a> #}
							{# <a href="#">Крыша</a> #}
						</div>
					</div>

                    <a href="/osen/" class="season_link"></a>
				</div>

				<div class="seasons">
					<div class="seasons_name">
						<span>Зима</span>

						<div class="seasons_name_hiddenContent">
							<a href="/za-gorodom/">За городом</a>
							<a href="/zagorodniy-kompleks/">Загородный комплекс</a>
							<a href="/kottedzh/">Коттедж</a>
							<a href="/baza-otdyha/">База отдыха</a>
							{# <a href="/shater/">Шатёр</a>
							<a href="/veranda-besedka/">Веранды</a>
							<a href="/veranda-besedka/">Террасы</a>
							<a href="/veranda-besedka/">Беседки</a>
							<a href="#">Крыша</a> #}
						</div>
					</div>

                    <a href="/zima/" class="season_link"></a>
				</div>

				<div class="seasons">
					<div class="seasons_name">
						<span>Весна</span>

						<div class="seasons_name_hiddenContent">
							<a href="/za-gorodom/">За городом</a>
							<a href="/zagorodniy-kompleks/">Загородный комплекс</a>
							<a href="/kottedzh/">Коттедж</a>
							<a href="/veranda-besedka/">Веранды, террасы, беседки</a>
							<a href="/baza-otdyha/">База отдыха</a>
							{# <a href="/shater/">Шатёр</a> #}
							
							{# <a href="/veranda-besedka/">Террасы</a>
							<a href="/veranda-besedka/">Беседки</a> #}
							{# <a href="#">Крыша</a> #}
						</div>
					</div>

                    <a href="/vesna/" class="season_link"></a>
				</div>

			</div>

			{% if seo.text_top %}
				<div class="seo_text index_seo_text" data-seo-text>

					<div class="index_seo_text_wrapper">
						<p>
							{{seo.text_top | raw}}
						</p>
						{# <p>
							Понтон на воде 400 м2 с белым шатром 260 м2. Вмещает до 180 постояльцев банкетной рассадкой. На территории понтона размещаются 2 маленькие веранды, которые уже входят в стоимость аренды, а на свободных от шатра углах устроилась мягкая мебель. Шатер оборудован барной стойкой со светодиодной подсветкой, необходимым для вечернего освещения количеством люстр, а на каждой стальной дуге вывешены световые «Пары». В случае непогоды по периметру заакрываются шторы, которые не пропускают воду и ветер, и предоставляются газовые и электронные обогреватели. Понтон содержит отдельный подъезд и личную парковку на 20 машиномест, собственно что выделяет ему превосходство перед другими площадками. Ресторан дает текстиль на столы и стулья и индивидуальные тканевые салфетки. Громкая музыка вероятна до 21:30, впоследствии лишь только в фоновом режиме.
						</p> #}

						<div class="index_toggle"></div>
					</div>

					<span class="index_toggle-btn">Читать далее</span>
				</div>
			{% endif %}

			<div class="popPlaces">
				<h2>Популярные площадки</h2>
			</div>

			<div class="items_list_listing">
				<div class="items_list">
					{{ this.render('//components/generic/listing_for_site.twig', {'items':items, 'img_alt':seo.img_alt}) | raw }}
				</div>
			</div>			

			{% if seo.text_bottom %}
				<div class="seo_text index_seo_text index_seo_text_2" data-seo-text>

					<div class="index_seo_text_wrapper">
						<p>
							{{seo.text_bottom | raw}}
						</p>
						{# <p>
							Понтон на воде 400 м2 с белым шатром 260 м2. Вмещает до 180 постояльцев банкетной рассадкой. На территории понтона размещаются 2 маленькие веранды, которые уже входят в стоимость аренды, а на свободных от шатра углах устроилась мягкая мебель. Шатер оборудован барной стойкой со светодиодной подсветкой, необходимым для вечернего освещения количеством люстр, а на каждой стальной дуге вывешены световые «Пары». В случае непогоды по периметру заакрываются шторы, которые не пропускают воду и ветер, и предоставляются газовые и электронные обогреватели. Понтон содержит отдельный подъезд и личную парковку на 20 машиномест, собственно что выделяет ему превосходство перед другими площадками. Ресторан дает текстиль на столы и стулья и индивидуальные тканевые салфетки. Громкая музыка вероятна до 21:30, впоследствии лишь только в фоновом режиме.
						</p> #}

						<div class="index_toggle"></div>
					</div>

					<span class="index_toggle-btn">Читать далее</span>
				</div>
			{% endif %}

			<div class="content_block form_callback_wrapper">
				{{ this.render('//components/generic/form_callback.twig') | raw }}
			</div>

		</div>

	</div>
</div>