<div class ="content_wrap contacts" data-page-type="contacts">
  	<div class="content_block" data-contacts>

		{{ this.render('//components/generic/title.twig', {'count':count, 'seo':seo}) | raw }}

		{# <h1 class="contacts_title">{{seo.h1}}</h1> #}
		<h1 class="contacts_title">Контакты</h1>

		<div class="contacts_wrapper" data-contacts-list>
            <div class="contacts_block_wrapper">
                <p class="contacts_block_title">О нас</p>
                <p class="contacts_block_text">Возможность провести праздник на&nbsp;природе, на&nbsp;свежем воздухе надолго запомнится яркостью, оригинальностью и&nbsp;необычностью. Именинник, независимо от&nbsp;возраста, будет рад, если важный день в&nbsp;году будет проведен необычным способом.</p><br/>
                <p class="contacts_block_text">Наш сайт предлагает услуги по&nbsp;подбору идеального места проведения дня рождения на&nbsp;природе в&nbsp;{{city_dec}} и&nbsp;области. Мы&nbsp;экономим для вас время и&nbsp;усилия, сведя обширную базу ресторанов, клубов, кафе в&nbsp;удобный каталог с&nbsp;простым в&nbsp;обращении интерфейсом.</p><br/>
                <p class="contacts_block_text">Доверяя нам, вы&nbsp;экономите время&nbsp;&mdash; самый ценный ресурс современного человека. Мы&nbsp;поставили перед собой важную задачу&nbsp;&mdash; сделать все необходимое для того, чтобы клиенты оставались довольны и&nbsp;у&nbsp;нас это действительно получается.</p>
            </div>

            <div class="contacts_block_wrapper">
                <p class="contacts_block_title">Для размещения на нашем портале</p>
                <p class="contacts_block_text">Наш сайт создан также и&nbsp;для представителей сферы HoReCa. Если вы&nbsp;владелец заведения, которое оказывает услуги по&nbsp;обсуживанию и&nbsp;проведению дней рождений или других праздников подходящей тематики и&nbsp;хотите чтобы ваша площадка была предаставлена у&nbsp;нас на&nbsp;сайте&nbsp;&mdash; свяжитесь с&nbsp;нами по&nbsp;почте или тефону, мы&nbsp;обязательно пообщаемся с&nbsp;вам и&nbsp;обсудим условия размещения.</p>
            </div>

            <div class="contacts_contact_wrapper">
                <a href="tel:+79252380159" class="contacts_phone">+7 (925) 238-01-59</a>
                <a href="mailto:zakaz@drnaprirode.ru" class="contacts_mail">zakaz@drnaprirode.ru</a>
            </div>

            <div class="contacts_personal_wrapper">
                <p class="contacts_personal_title">Наши сотрудники</p>

                <div class="personal_members_wrapper">
                    <div class="personal_member">
                        <div class="personal_member_img">
                          <img src="/dist/images/contacts/Смирнова Ксения Валерьевна - Руководитель отдела - smirnovakv@drnaprirode.ru.jpg"/>
                        </div>
                        <p class="personal_member_name">Смирнова Ксения Валерьевна</p>
                        <p class="personal_member_position">Руководитель отдела</p>
                        <p class="personal_member_about">«Прошли те времена, когда было достаточно просто хорошего сервиса. Сегодня клиентов нужно удивлять — и удивлять постоянно» © Джон Шоул</p>
                        <a href="mailto:smirnovakv@drnaprirode.ru" class="personal_member_mail">smirnovakv@drnaprirode.ru</a>
                    </div>

                    <div class="personal_member">
                        <div class="personal_member_img">
                          <img src="/dist/images/contacts/Ларионова Алиса Васильевна - Старший менеджер -  larionovaav@drnaprirode.ru.jpg"/>
                        </div>
                        <p class="personal_member_name">Ларионова Алиса Васильевна</p>
                        <p class="personal_member_position">Старший менеджер</p>
                        <p class="personal_member_about"></p>
                        <a href="mailto:larionovaav@drnaprirode.ru" class="personal_member_mail">larionovaav@drnaprirode.ru</a>
                    </div>

                    <div class="personal_member">
                        <div class="personal_member_img">
                          <img src="/dist/images/contacts/Ермолов Тимофей Дмитриевич - Менеджер клиентского сервиса - ermolovtd@drnaprirode.ru.jpg"/>
                        </div>
                        <p class="personal_member_name">Ермолов Тимофей Дмитриевич</p>
                        <p class="personal_member_position">Менеджер клиентского сервиса</p>
                        <p class="personal_member_about"></p>
                        <a href="mailto:ermolovtd@drnaprirode.ru" class="personal_member_mail">ermolovtd@drnaprirode.ru</a>
                    </div>

                    <div class="personal_member">
                        <div class="personal_member_img">
                          <img src="/dist/images/contacts/Журавлева Анна Александровна - Менеджер клиентского сервиса - zhuravlevaaa@drnaprirode.ru.jpg"/>
                        </div>
                        <p class="personal_member_name">Журавлева Анна Александровна</p>
                        <p class="personal_member_position">Менеджер клиентского сервиса</p>
                        <p class="personal_member_about"></p>
                        <a href="mailto:zhuravlevaaa@drnaprirode.ru" class="personal_member_mail">zhuravlevaaa@drnaprirode.ru</a>
                    </div>
                </div>
            </div>

            <div class="contacts_form_wrapper">
                {{ this.render('//components/generic/form_contacts.twig',  {'seo':seo}) | raw }}
            </div>
        </div>	
	</div>
</div>

{# {{  pjax_begin({'id' : 'blog-listing','enablePushState':true}) }}
{{  list_view_widget(listConfig) }}
{{  pjax_end()  }} #}


































{# <div data-page-type="contacts">

  <div class="breadcrumbs">

    <a class="breadcrumbs_item" href="/">
      Новый год {{year}}
    </a>

    <p>Контакты</p>

  </div>

  <div class="contacts_container">

    <div class="title_wrapper">

      <h1>Контакты редакции</h1>

      <p>
        Мы открыты для новых проектов и интересных
        предложений. По вопросам сотрудничества 
        обращайтесь в редакцию портала.
      </p>

    </div>

    <div class="mail_wrapper">

      <h4>Электронная почта</h4>

      <a href="mailto:callme@korporativ-ng.ru">callme@korporativ-ng.ru</a>

    </div>

    <div class="phone_wrapper">

      <h4>Телефон банкетной службы</h4>

      <a href="tel:+7 925 238-22-07">+7(925)238-22-07</a>

    </div>

    <div class="bottom_pane_wrapper">

      <p>
        Наш портал — это поисковик лучших площадок {{city_rod}} и банкетная 
        служба в одном месте. Вы можете забронировать любое заведение для 
        новогоднего корпоратива, позвонив по телефону или отправив 
        онлайн-форму. На странице вы найдете контакты для связи:
      </p>

      <div class="object_book">
  
        <p class="object_book_text">Узнать об актуальных акциях и забронировать можно по телефону:</p>
  
        <div class="object_book_hidden">
  
            <p class="object_book_phone">
  
              <span class="object_fake_phone">+7 <span class="object_fake_phone_snowflakes">❆❆❆ ❆❆❆ ❆❆ ❆❆</span></span>
  
              <a href="tel:{{item.restaurant_phone}}" class="object_real_phone _hide">+7(925)238-22-07</a>
  
            </p>
  
          <div class="object_book_hidden_button">
            <p class="object_book_hidden_button _link" data-action="show_phone">Показать номер</p>
          </div>
                 
        </div>
  
        <p class="object_book_action">Забронируй зал  до 01.12.2020 и получи новогодний подарок!</p>
  
      </div>

      <p>
        Мы также с удовольствием поможем вам найти место, подходящее под 
        все требования. Просто оставьте свои данные для обратной связи.
      </p>

    </div>


  </div>
  
  <div class="form_wrapper callback">

    <div class="form_title">
      <p class="form_title_main">Обратная связь</p>
      <p class="form_title_desc">Заполните форму, мы свяжемся с вами и поможем подобрать лучшую площадку для новогоднего праздника.</p>
    </div>
  
    <form class="form_block" action="/ajax/form/">
  
      <div class="form_inputs">
      
        <div class="input_wrapper">
          <div class="input_label">Как Вас зовут</div>
          <input type="text" name="name" data-required/>
        </div>
        <div class="input_wrapper">
          <div class="input_label">Номер телефона</div>
          <input type="text" name="phone" data-required/>
        </div>
        <div class="input_wrapper">
          <div class="input_label">Вопрос</div>
          <textarea name="question"></textarea>
        </div>
        <div class="input_wrapper">
          <div class="input_label">Бюджет</div>
          <input type="text" name="budget"/>
        </div>
        <div class="input_wrapper">
          <div class="input_label">Эл. почта</div>
          <input type="text" name="email"/>
        </div>
        <div class="input_wrapper">
          <div class="input_label">Дата</div>
          <input type="text" name="date"/>
          <div class="calendar_wrapper">
            <div class="open_calendar_button"></div>
            <div class="calendar_container _hide">
              <div class="calendar"></div>
            </div>
          </div>
        </div>
        <div class="input_wrapper">
          <div class="input_label">Число гостей</div>
          <input type="text" name="guests_number"/>
        </div>
  
      </div>
  
      <div class="form_submit_callback">
        <button class="_button" type="submit">Отправить</button>
        <div class="form_policy checkbox_item _active" data-action="form_checkbox" data-form-privacy>
          <input type="checkbox" name="policy" class="personalData" checked=""  data-required>
          <p class="checkbox_pseudo">Я согласен с <a class="_link" href="/privacy/" target="_blank">политикой обработки персональных данных</a></p>
        </div>
      </div>
  
    </form>
    <div class="form_success">
      <div class="header_form_popup_message_sent _hide" data-success>

          <h2>Заявка отправлена</h2>
          <p class="header_form_popup_message"><span data-success-name></span>, спасибо за проявленный интерес. Наши менеджеры свяжутся с вами<br>в течение дня и помогут подобрать зал для корпоратива.</p>
          <p class="header_form_popup_message_close _link" data-success-close>Понятно, закрыть</p>
          <div class="close_button"></div>

      </div>
    </div>
  </div>
</div> #}